

body {
    background-color:black;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 21px;
    color: white;
    

}

/*---Nav---*/

img#retina-logo {
    width: 292px;
}


/*---Header---*/

header#header {
    background-image: url('../img/zaklad-pogrzebowy-paslek.jpg');
    background-position: center;
    height: 100vh;
    position: relative;
    background-size: cover;
}