
* {
    box-sizing: border-box;
}

body {
    background-color:black;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    color: white;
    

}

.clear {
    clear: both;
}

p.text-black {
    color: #000;
}

button {
    background-color: #fff;
    color: #D2B429;
    font-family: 'Cormorant Upright';
    text-align: center;
    border: solid 1px #D2B429;
    font-size: 21px;
    
}



/*---Nav---*/

nav#menu {
    max-width: 1140px;
    min-height: 130px;
    position: relative;
    z-index: 999;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    
    
}

#menu-row {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
}

#nav-left {
    width: 40%;
    align-content: center;
    align-items: center;
    margin-right: 20px;
    padding-top: 55px;

}


#nav-right {
    width: 20%;
    align-content: center;
    align-items: center;
    margin-left: 20px;
    padding-top: 55px;
    text-align: center;
}

#nav-center {
    width: 20%;
    align-content: center;
    align-items: center;
  
}

#phone {
    width: 20%;
    align-content: center;
    align-items: center;
    text-align: center;
}


nav#menu #menu-row ul {
    padding: 0;
}


nav#menu ul, li.menu-item {
    list-style: none;
    display: inline;
    
 
}

.phone-menu {
    color: #D2B429;
    font-size: 1rem;
    margin-bottom: 0px;
    padding-top: 40px;



}

a.phone-menu {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

a.link-menu {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 55px 13px 55px 20px;
    position: relative;
}


/*---Menu Hover Effects---*/

a.link-menu::after {
    content: "";
    bottom: 3px;
    height: 3px;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    position: absolute;
    left: 0;
    opacity: 0;
 
}

a.link-menu:hover::after {
    opacity: 1; 
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    
}


/*---LOGO Section---*/


section#logo {
    height: 0px;
}

#row-logo {
    max-width: 230px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


img#retina-logo {
    width: 250px;
    margin: -70px 0px 0px 0px;
    padding-bottom: 10px;

}


/*---Header---*/

header#header {
    background-image: url('img/zaklad-pogrzebowy-paslek.jpg');
    background-position: center;
    height: 100vh;
    position: relative;
    background-size: cover;
    border-style: solid;
    border-color: #000;
    border-width: 0px 20px;
}

#header-overlay {
    background-color: rgba(0,0,0,0.72);
    position:absolute;
    width: 100%;
    height: 100%;
    
}

#main-header-section {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    margin-bottom: 20px;
    display: block;
    padding: 10px;

}

#header-overlay h2 {
    font-family: 'Cormorant Upright';
    text-align: center;
    font-size: 4.5rem;
    margin-top: 50%;
}

#header-text {
    position: relative;
    text-align: center;
}

#header-image {
    text-align: center;
}




/*---Section Documents---*/

section#documents {
    background-color: #fff;
    display: flex;
    padding: 80px 0px;

}

#section-row {
    max-width: 1140px;
    min-height: 130px;
        display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.section-white {
    width: 100%;
}

.section-right-align {
    position: relative;
    margin-right:0;
}





















